.v-center {
  min-height: 200px;
  display: flex;
  justify-content: center;
  flex-flow: column wrap;
  margin-top: 70px;
}
@font-face {
  font-family: "komika";
  src:url('komika_axis/KOMIKAX_.ttf');
}
@font-face {
  font-family:'komika_display';
  src:url('komika_display/kmkdspt_.ttf')
}
header {
  background: #e7e7e7;
  text-align: center;
  padding: 10px 10px;
  width: auto;
  margin: 0 auto;
  margin-bottom: 20px;
  font-family: "komika";
  src:url('komika_axis/KOMIKAX_.ttf');
}
.instruct {
  text-align: center;
  font-family:'komika_display';
  src:url('komika_display/kmkdspt_.ttf')
}
#col {
  margin-left: 80px;
}
#container{
  margin: 20px auto;
  height: auto;
  width: auto;
  padding: 10px 10px;
  border: 2px solid #ccc;
  border-radius: 5px;
  background: #eee;
  font-family: "komika";
  src:url('komika_axis/KOMIKAX_.ttf');

}
h3 {
  margin-left: 50px;
}
.list-group {
  border: 2px inset #eee;
  height: 180px;
  overflow-y: auto;
  margin: 0 auto;
}
.list-group-item {
  cursor: pointer;
}
.source {
  background:#fff;
}
.destination {
  background: #fff;
}
.source li{
  background: #CBC4C4;
}
li:hover {
  background: #eee;
  color: #005CB2;
}
.destination li:hover {
  background: #eee;
  color: #005CB2;
}
form {
  height: 100px;
  width: 600px;
  border: 2px solid #ccc;
  border-radius: 5px;
  margin: 0 auto;
  padding: 20px 20px;
  font-family: "komika";
  src:url('komika_axis/KOMIKAX_.ttf');
}
#input {
  width: 40%;
  -webkit-transition: 0.4s ease-in-out;
  transition:0.4s ease-in-out;
  margin-left: 40px;
  font-size: 1.3em;
  padding: 3px 0 3px 8px;
}
#input:focus {
  width: 70%;
  background: #828282;
  color: #fff;
  -webkit-transition: 0.4s ease-in-out;
  transition:0.4s ease-in-out;
}
#delete {
  position: absolute;
  margin-top: 200px;
}
.destination li {
  background: #8D8CB2;
  color: #fff;
}
.strike {
  text-decoration: line-through;
}
.box {
  width: 600px;
  height: 60px;
  border: 1px solid #e7e7e7;
  border-radius: 5px;
  background: #54698B;
  margin-bottom: 20px;
  margin: 0 auto;
  color: #fff;
  padding: 5px 5px;
  font-size: 1.3em;
}
